.dashboard__app__name{
  font-size: 26px;
  font-weight: 400;
  margin: 5px auto 0 auto;
}

.dashboard__app__dev{
  font-size: 22px;
  font-weight: 400;
  margin: 0 auto;
}

.dashboard__app__ratings{
  font-size: 18px;
  font-weight: 400;
}

.dashboard__app__verified{
  margin-left: 30%;
}

.dashboard__app__logo{
  height: 70%;
  margin: 0 auto;
  width: 70%;
}
