main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  top: 95px;
  position: relative;
  width: 95%;
}

.dashboard__app__container{
  display: flex;
  justify-content: center;
  width: 25%;
}
